@namespace TraktorGoogleDrive.Layout
@using TraktorGoogleDrive.Components
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <div class="traktor-logo">
            <h4>TRAKTOR</h4>
            <small>Google Drive</small>
        </div>
        <FolderTree />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="top-row-brand">
                <span class="brand-text">Music Collection</span>
            </div>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
