@* Namespace: TraktorGoogleDrive.Components *@
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@inject IJSRuntime JS
@inject HttpClient Http
@inject TraktorGoogleDrive.Services.CollectionService CollectionService
@using TraktorNmlParser.Models
@using System.Text.Json
@using System.Diagnostics;

<div class="folder-tree nav flex-column">
    @foreach (var folder in Folders)
    {
        <div class="nav-item">
            <details>
                <summary class="nav-link">@folder.Name</summary>
                <div class="ps-3">
                    @foreach (var playlist in folder.Playlists)
                    {
                        <Microsoft.AspNetCore.Components.Routing.NavLink class="nav-link"
                            href="@($"/playlist/{playlist.Uuid}")">@playlist.Name
                        </Microsoft.AspNetCore.Components.Routing.NavLink>
                    }
                </div>
            </details>
        </div>
    }
</div>

@code {
    List<Folder> Folders = [];

    protected override async Task OnInitializedAsync()
    {
        var watch = Stopwatch.StartNew();
        Console.WriteLine($"Folder tree start load {watch.Elapsed.TotalSeconds}s");
        var token = await JS.InvokeAsync<string>("sessionStorage.getItem", "access_token");

        var collection = await CollectionService.GetCollectionAsync();
        Folders = collection.Folders;
        Console.WriteLine($"Folder tree done load {watch.Elapsed.TotalSeconds}s");
    }
}
